logistic regression cat classifier with a DL mindset/images/pk1.jpg
logistic regression cat classifier with a DL mindset/images/pk2.jpg
logistic regression cat classifier with a DL mindset/images/pklunch.jpg
VTU marks scraping using selenium/2022 IS 1AM22IS001 to 1AM22IS124 VTU results.xlsx
VTU marks scraping using selenium/captcha.png